@using Task = AtomicLists.Models.Task
@model AtomicLists.Models.Task
@{
    ViewData["Title"] = "Create";
}
<h1 class="text-4xl">Task details</h1>

<!-- Presenting info from model passed in from controller -->
<div class="flex flex-col items-start gap-1 p-2">
    <p>Task Description: <span>@Model.TaskDescription</span></p>
    <p>Task Tag: <span>@Model.Area</span></p>
    <p>Completed? <span>@Model.IsComplete</span></p>
    <p>Priority: <span>@Model.Priority</span></p>
    <p>Date Created: <span>@Model.DateCreated</span></p>
    
    <!-- Link to edit or delete the task -->
    <div>
        <a class="link" asp-controller="Task" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <span>/</span>
        <a class="link" asp-controller="Task" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
    <a class="link" asp-controller="Home" asp-action="Index">Return Home</a>
</div>
